APP_NAME=wa.inb.my.id
NODE_ENV=development #production|development
LOG_LEVEL=debug #debug|info|warn|error
PORT=

WHATSAPP_STARTUP_MAX_RETRIES=5 #5x
WHATSAPP_STARTUP_DELAY_MS=5000 #5second
WHATSAPP_REDIRECT_GROUP_ID=
TELEGRAM_BOT_TOKEN=

PUPPETEER_EXECUTABLE_PATH="/usr/bin/chromium"


HMAC_PUBLIC_KEY=
HMAC_SECRET_KEY=